window {
    background-color : #A5ACBA;
}

box.checked {
    background-color : #FFE6A7;
}

box.dirty {
    background-color : #FFE6A7;
}

button.instrument {
    padding: 3px;
    min-width: 40px;
    font-family: monospace;
}
    
