window {
    background-color : #A5ACBA;
}

box.checked {
    background-color : #FFE6A7;
}

box.dirty {
    background-color : #FFE6A7;
}

button.instrument {
    padding: 3px;
    min-width: 50px;
    font-family: monospace;
}

button.mem-instrument {
    padding: 1px;
    min-width: 35px;
    font-family: monospace;
    font-size: x-small;
}
    

button.control {
    padding: 3px;
    min-width: 35px;
    font-weight: bold;
}

button.mem-control {
    padding: 1px;
    min-width: 20px;
    font-weight: bold;
    font-size: x-small;
   
}
